<%= simple_form_for wishlist, html: { class: "wishlist form" } do |f| %>
  <% if wishlist.errors.any? %>
    <div class="error-message">
      <%= wishlist.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :name, input_html: { autofocus: true } %>
  <%= link_to "Cancel", wishlists_path, class: "btn btn--light" %>
  <%= f.submit class: "btn btn--secondary" %>
<% end %>